# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Vaadin
node_modules/
pnpm-lock.yaml
package-lock.json
webpack.generated.js

# Logs
*.log
logs/

# Deploy
deploy/*.jar
deploy/logs/
deploy/application-prod.yml

# Other
target/
out/
/frontend/
